@model FastLearning.Models.Usuario
@{
    ViewBag.Title = "EditarPerfil";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<h1 class="col-md-12"></h1>

<div class="container col-xs-12 col-md-offset-1 col-md-10">
    <div class="card table-bordered" style="width: auto; height:auto;background: rgba(255, 255, 255, 0.80);border-color:darkturquoise">
        <div class="card-body" style="padding-right:3rem; padding-left:3rem">
            @using (Html.BeginForm())
            {
                <h2 style="font-weight:bold">Editar Perfil</h2>
                <div class="container col-md-4">
                    <h1 class="col-md-12"></h1>
                    <img id="img" name="img" src="@ViewBag.Foto" class="img-circle col-md-12 col-xs-12">
                    <input type="file" name="fichero" id="fichero" class="col-md-12" value=""/>                    
                    <h1 class="col-md-12"></h1>
                    <div class="container col-md-6">
                        <label class="control-label col-md-12" style="font-size:small ; text-align:center">Valoración como alumno</label>
                        <div class="col-md-12" style="text-align:center">
                            @Html.DisplayFor(model => model.calificacion_alumno, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="container col-md-6">
                        <label class="control-label col-md-12" style="font-size:small ; text-align:center">Valoración como alumno</label>
                        <div class="col-md-12" style="text-align:center">
                            @Html.DisplayFor(model => model.calificacion_profesor, new { @class = "form-control" })
                        </div>
                    </div>
                    <center>
                        <label class="control-label col-md-12" style="font-size:40px ;text-align:center">Puntos</label>
                    </center>
                    <div class="col-md-12" style="font-size:xx-large; text-align:center">
                        @Html.DisplayFor(model => model.puntos, new { @class = "form-control" })
                    </div>

                </div>
                <div class="container col-md-8">
                    <div class="form-horizontal">
                        <h1 class="col-md-12"></h1>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id)
                        @Html.HiddenFor(model => model.foto)
                        <div class="form-group">
                            <label class="control-label col-md-6">Nombres:*</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.nombres, new { @class = "form-control", @required = "true", @pattern = "[A-Z a-zsáéíóú]+", @title = "Solo se permiten letras" })
                                @Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-6">Apellidos:*</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.apellidos, new { @class = "form-control", @required = "true", @pattern = "[A-Z a-zsáéíóú]+", @title = "Solo se permiten letras" })
                                @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-6">Celular:</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.telefono, new { @class = "form-control", @pattern = "[9][0-9]{8}", @title = "Solo se permiten números" })
                                @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-6">Email:*</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.email, new { @class = "form-control", @type = "email", @required = "true" })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-6">Contraseña:*</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.contrasena, new { @class = "form-control", @type = "password", @required = "true" })
                                @Html.ValidationMessageFor(model => model.contrasena, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-6">Confirmar contraseña:*</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.confirmar_contrasena, new { @class = "form-control", @type = "password", @required = "true" })
                                @Html.ValidationMessageFor(model => model.confirmar_contrasena, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary col-md-offset-10" data-toggle="modal" data-target="#exampleModal">
                                Editar
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Editar perfil</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro de guardar los cambios?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                            <button id="enviar" type="submit" class="btn btn-primary">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="form-group">
                <button class="btn btn-default col-md-offset-10" onclick="location.href='@Url.Action("Perfil","Usuario")'">Regresar a perfil</button>
            </div>
            <h1 class="col-md-12"></h1>
        </div>
    </div>
</div>

<script src="~/Scripts/js/imagenes.js"></script>

