@model IEnumerable<FastLearning.Models.Habilidad>

@{
    ViewBag.Title = "ListarHabilidadUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int id = ViewBag.id_usuario;
}

<h2>Habilidades de @(ViewBag.nombres + " " + ViewBag.apellidos)</h2>

<div class="container col-md-12">
    <table class="table col-md-12 table-bordered">
        <thead style="background-color:aliceblue">
            <tr>
                <th>
                    Habilidad Tema
                </th>
                <th>
                    Nivel
                </th>
                <th>
                    Estado
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody style="background-color:white">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tema.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nivel.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.id })
                    </td>
                </tr>
             }
        </tbody>
    </table>
</div>