@model IEnumerable<FastLearning.Models.Solicitud>

@{
    ViewBag.Title = "ListarSoliciutdPorUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Solicitudes de @(ViewBag.nombres + " " + ViewBag.apellidos)</h2>
<div class="container col-md-12">
    <table class="table col-md-12 table-bordered">
        <thead style="background-color:aliceblue">
            <tr>
                <th>
                    Solicitud
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Fecha de registro
                </th>
                <th></th>
            </tr>
         </thead>
        <tbody style="background-color:white">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha_registro)
                    </td>
                    <td>
                        @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                    </td>
                </tr>
             }
        </tbody>
    </table>
</div>
