@model FastLearning.Models.Usuario

@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Mi Perfil</h2>

@using (Html.BeginForm())
{   
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            <label class="control-label col-md-2">Nombres:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.nombres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Apellidos:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Teléfono:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Email:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Contraseña:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.contrasena, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contrasena, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Fecha de registro:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.fecha_registro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecha_registro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Calificación de alumno:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.calificacion_alumno, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.calificacion_alumno, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Calificación de profesor:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.calificacion_profesor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.calificacion_profesor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Puntos:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.puntos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.puntos, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}
<div>
    <button type="button" class="btn btn-default"> @Html.ActionLink("Editar Perfil", "EditarPerfil", new { id = Model.id })</button>
</div>
