@model PagedList.IPagedList<FastLearning.Models.Clase>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "ClaseReportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="col-md-12"></h1>
<h2 style="font-weight:bold;text-align:center">Reporte de clases</h2>
<h1 class="col-md-12"></h1>

@using (Html.BeginForm("ClaseReportes", "Clase", FormMethod.Get))
{
    <div class="container col-md-5">
        <h4 class="col-md-6" style="font-weight:bold">Durante el mes de:</h4>
        <div class="input-group date col-md-6" id='datetimepicker1'>
            @Html.TextBox("buscar", ViewBag.CurrentFilter as string, new { @class = "form-control", @type = "text" })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class=" container col-md-6">
        <button type="submit" class="btn btn-success">Buscar</button>
    </div>
}
<h1 class="col-md-12"></h1>
<h4 class="col-md-8" style="font-weight:bold">Cantidad de clases registradas: @ViewBag.Cantidad</h4>
<h1 class="col-md-12"></h1>
<div class=" table-responsive container col-md-12">
    <table class="table col-md-12 table-bordered">
        <thead style="background-color:#EBF5FB">
            <tr>
                <th>Clase</th>
                <th>Profesor</th>
                <th>Valoración del profesor</th>
                <th>Lugar</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>Alumnos inscritos</th>
                <th>Fecha de registro</th>
            </tr>
        </thead>
        <tbody style="background-color:white">
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Habilidad.Tema.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Habilidad.Usuario.nombres) @Html.DisplayFor(modelItem => item.Habilidad.Usuario.apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Habilidad.Usuario.calificacion_profesor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lugar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClaseUsuario.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_registro)
                </td>
            </tr>
            }
        </tbody>
    </table>
    <br />
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("UsuarioReportes", new { page, currentFilter = ViewBag.CurrentFilter }))
</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'MM-YYYY'
        });
        $('#datetimepicker2').datetimepicker({
            format: 'DD-MM-YYYY'
        })
    });
</script>

