@model FastLearning.Models.Clase

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<h1 class="col-md-12"></h1>
<h3 style="text-align:center; font-weight:bold" class="text-success">@ViewBag.Error</h3>
<h2 style="text-align:center; font-weight:bold">Clase de @ViewBag.clase</h2>
<h1 class="col-md-12"></h1>
<div class="container">
    <div class="card table-bordered" style="width: auto; height:auto;background-color:aliceblue">
        <div style="text-align:center">
            <h1 class="col-md-12"></h1>
            <h4 style="font-weight:bold">
                Descripción:
            </h4>

            <h4>
                @Html.DisplayFor(model => model.descripcion)
            </h4>

            <h4 style="font-weight:bold">
                Precio:
            </h4>

            <h4>
                S/ @Html.DisplayFor(model => model.precio)
            </h4>

            <h4 style="font-weight:bold">
                Profesor:
            </h4>

            <h4>
                @Html.DisplayFor(model => model.Habilidad.Usuario.nombres) @Html.DisplayFor(model => model.Habilidad.Usuario.apellidos)
            </h4>

            <h4 style="font-weight:bold">
                Calificación:
            </h4>

            <h4>
                @Html.DisplayFor(model => model.Habilidad.Usuario.calificacion_profesor)
            </h4>

            <h4 style="font-weight:bold">
                Lugar:
            </h4>

            <h4>
                @Html.DisplayFor(model => model.lugar)
            </h4>

            <h4 style="font-weight:bold">
                Día:
            </h4>

            <h4>
                @Html.DisplayFor(model => model.dia)
            </h4>

            <h4 style="font-weight:bold">
                Hora de inicio:
            </h4>

            <h4>
                @Html.DisplayFor(model => model.hora_inicial)
            </h4>

            <h4 style="font-weight:bold">
                Hora de fin:
            </h4>

            <h4>
                @Html.DisplayFor(model => model.hora_final)
            </h4>

            <h4 style="font-weight:bold">
                Fecha Inicial:
            </h4>

            <h4>
                @Html.DisplayFor(model => model.fecha_inicial)
            </h4>

            <h4 style="font-weight:bold">
                Fecha Final:
            </h4>

            <h4>
                @Html.DisplayFor(model => model.fecha_final)
            </h4>

            <h4 style="font-weight:bold">
                Vacantes:
            </h4>

            <h4>
                @Html.DisplayFor(model => model.vacantes)
            </h4>

            <h4 style="font-weight:bold">
                Número de inscritos:
            </h4>

            <h4>
                @Html.DisplayFor(model => model.ClaseUsuario.Count)
            </h4>

            <div class="form-group">
                <div>                  
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="font-size:medium; width:50rem">
                        Inscribirse a clase
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="text-align:initial; font-weight:bold">
                                        Inscripción a curso de @ViewBag.clase
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="text-align:initial; font-size:smaller">
                                    ¿Está seguro de inscribirse?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                    <button class="btn btn-primary" onclick="location.href='@Url.Action("InscribirseEnClase","Clase", new { id = Model.id })'">Inscribirse</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h4>
                <button class="btn btn-default" onclick="location.href='@Url.Action("Index","Clase")'">Regresar a lista</button>
            </h4>
        </div>
    </div>
</div>