@model FastLearning.Models.Clase

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Clase de @ViewBag.clase</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Clase:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habilidad.Tema.nombre)
        </dd>

        <dt>
            Descripción:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            Profesor:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habilidad.Usuario.nombres) @Html.DisplayFor(model => model.Habilidad.Usuario.apellidos)
        </dd>

        <dt>
            Calificación:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habilidad.Usuario.calificacion_profesor)
        </dd>

        <dt>
            Día:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia)
        </dd>

        <dt>
            Hora de inicio:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora_inicial)
        </dd>

        <dt>
            Hora de fin:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora_final)
        </dd>

        <dt>
            Fecha Inicial:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicial)
        </dd>

        <dt>
            Fecha Final:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_final)
        </dd>

        <dt>
            Precio:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            Vacantes:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vacantes)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-default col-md-3">@Html.ActionLink("Regresar a lista", "Index", "Clase")</button>    
    <div class="form-group">
        <div class="col-md-3">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Inscribirse
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Inscripción a curso de @ViewBag.clase</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ¿Está seguro de inscribirse?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-default">@Html.ActionLink("Inscribirse", "Index", "Clase")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p>
