@model IEnumerable<FastLearning.Models.ClaseUsuario>

@{
    ViewBag.Title = "ListarClasePorInscripcion";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2 style="font-weight:bold">Mis clases inscritas</h2>
<h1 class="col-md-12"></h1>
<div class="container col-md-12">
    @foreach (var item in Model)
    {
        <div class="card col-md-4 table-bordered" style="width: 36rem; height:auto;background-color:#EBF5FB">
            <div class="card-body">
                <h5 class="card-title" style="word-wrap: break-word"><b><big>@Html.DisplayFor(modelItem => item.Clase.Habilidad.Tema.nombre)</big></b></h5>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Clase.Habilidad.Usuario.nombres) @Html.DisplayFor(modelItem => item.Clase.Habilidad.Usuario.apellidos)</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Dia: @Html.DisplayFor(modelItem => item.Clase.dia)</li>
                    <li class="list-group-item">Hora inicial: @Html.DisplayFor(modelItem => item.Clase.hora_inicial)</li>
                    <li class="list-group-item">Hora final: @Html.DisplayFor(modelItem => item.Clase.hora_final)</li>
                    <li class="list-group-item">Fecha inicial: @Html.DisplayFor(modelItem => item.Clase.fecha_inicial)</li>
                    <li class="list-group-item">Fecha final: @Html.DisplayFor(modelItem => item.Clase.fecha_final)</li>
                    <li class="list-group-item">Lugar: @Html.DisplayFor(modelItem => item.Clase.lugar)</li>
                    <li class="list-group-item">Precio: S/ @Html.DisplayFor(modelItem => item.Clase.precio)</li>
                    <li class="list-group-item">Vacantes: @Html.DisplayFor(modelItem => item.Clase.vacantes)</li>
                    <li class="list-group-item">Inscritos: @Html.DisplayFor(modelItem => item.Clase.ClaseUsuario.Count)</li>
                    <li class="list-group-item">Estado: @Html.DisplayFor(modelItem => item.Clase.Estado.descripcion)</li>
                </ul>
                <button class="btnPago btn btn-primary" data-toggle="modal" data-target="#myModal1" data-id="@item.id_pago">Ver Pago</button>              
                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color:darkblue">
                                <h5 class="modal-title col-md-11" id="myModalLabel" style="color:white">Pago de la clase</h5>
                                <button type="button" class="close col-md-1" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="color:white">&times;</span>
                                </button>
                                <br />
                            </div>
                            <div class="modal-body">
                                <div id="modal-content-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" @*id="btnCalificarProfesor"*@ class="btnCalificarProfesor btn btn-primary" data-toggle="modal" data-target="#myModal" data-id="@item.id_clase">Calificar profesor</button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color:darkblue">
                                <h5 class="modal-title col-md-11" id="myModalLabel" style="color:white">Calificar Profesor</h5>
                                <button type="button" class="close col-md-1" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="color:white">&times;</span>
                                </button>
                                <br />
                            </div>
                            <div class="modal-body">
                                <div id="modal-content"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1></h1>
            </div>
        </div>
    }
</div>

<script src="~/Scripts/Calificacion/Calificacion.js"></script>
<script src="~/Scripts/PagoPorClase/pago-por-clase.js"></script>
