@model IEnumerable<FastLearning.Models.Clase>

@{
    ViewBag.Title = "ListarClasePorUsuario";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Mis clases creadas</h2>
<h1 class="col-md-12"></h1>
<p>
    @Html.ActionLink("Mis clases inscritas","ListarClasePorInscripcion")
</p>
<h1 class="col-md-12"></h1>
<p>
    @Html.ActionLink("Crear clase", "Crear")
</p>
<h1 class="col-md-12"></h1>
<div class="container col-md-12">
    @foreach (var item in Model)
    {
        <div class="card col-md-4 table-bordered" style="width: 36rem; height:auto;background-color:aliceblue">
            <div class="card-body">
                <h5 class="card-title"><b><big>@Html.DisplayFor(modelItem => item.Habilidad.Tema.nombre)</big></b></h5>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.descripcion)</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Dia: @Html.DisplayFor(modelItem => item.dia)</li>
                    <li class="list-group-item">Hora inicial: @Html.DisplayFor(modelItem => item.hora_inicial)</li>
                    <li class="list-group-item">Hora final: @Html.DisplayFor(modelItem => item.hora_final)</li>
                    <li class="list-group-item">Hora inicial: @Html.DisplayFor(modelItem => item.fecha_inicial)</li>
                    <li class="list-group-item">Fecha de inicio: @Html.DisplayFor(modelItem => item.fecha_final)</li>
                    <li class="list-group-item">Fecha de fin: @Html.DisplayFor(modelItem => item.fecha_registro)</li>
                    <li class="list-group-item">Precio: @Html.DisplayFor(modelItem => item.precio)</li>
                    <li class="list-group-item">Vacantes: @Html.DisplayFor(modelItem => item.vacantes)</li>
                    <li class="list-group-item">Alumnos: @Html.DisplayFor(modelItem => item.ClaseUsuario.Count)</li>
                </ul>
                <button type="button" class="btn btn-default">@Html.ActionLink("Alumnos", "ListarAlumnosPorClase", new { id = item.id })</button>
                <button type="button" class="btn btn-default">Calificar alumnos</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    Cancelar
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Cancelar clase</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ¿Está seguro de cancelar esta clase?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-default">@Html.ActionLink("Cancelar", "ListarClasePorUsuario")</button>
                            </div>
                        </div>
                    </div>
                </div>
                <h1></h1>
            </div>
        </div>
    }
</div>