@*@model IEnumerable<FastLearning.Models.Usuario>*@
@model PagedList.IPagedList<FastLearning.Models.Usuario>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-weight:bold">Lista de usuarios</h2>
<div class="container col-md-12">
    @using (Html.BeginForm("Index", "Usuario", FormMethod.Get))
    {
        <p>
            <h4 class="col-md-2">Buscar Usuario :</h4>
            @*<input type="text" class="form-control col-md-3" name="buscar" />*@
            <div class="col-md-3">@Html.TextBox("buscar", ViewBag.CurrentFilter as string, new { @class = "form-control" })</div>
            <button type="submit" class="btn btn-default col-md-1">Buscar</button>
        </p>
    }
</div>
<h1 class="col-md-12"></h1>
<div class=" table-responsive container col-md-12">
    <table class="table col-md-12">
        <thead style="background-color:aliceblue">
            <tr>
                <th>Usuario</th>
                <th>Email</th>
                <th>Contraseña</th>
                <th>Calificación alumno</th>
                <th>Calificación profesor</th>
                <th>Puntos</th>
                <th>Habildiades</th>
                <th></th>
            </tr>
        </thead>
        <tbody style="background-color:white">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombres) @Html.DisplayFor(modelItem => item.apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.contrasena)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.calificacion_alumno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.calificacion_profesor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.puntos)
                    </td>
                    <td>
                        @Html.ActionLink("Ver", "ListarHabilidadPorUsuario", new { id = item.id })
                    </td>
                    <td>
                        @Html.ActionLink("Detalles", "Detalles", new { id = item.id }) |
                        @Html.ActionLink("Eliminar", "Eliminar ", new { id = item.id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
</div>