@*@model IEnumerable<FastLearning.Models.Curso>*@
@model PagedList.IPagedList<FastLearning.Models.Curso>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-weight:bold">Lista de cursos</h2>

<p>
    <button class="btn btn-default">@Html.ActionLink("Agregar curso", "Crear")</button>
</p>

<div class="container col-md-12">
    @using (Html.BeginForm())
    {
        <p>
            <h4 class="col-md-2">Buscar Curso :</h4>
            @*<input type="text" class="form-control col-md-3" name="buscar" />*@
            <div class="col-md-3">@Html.TextBox("buscar", ViewBag.CurrentFilter as string, new { @class = "form-control" })</div>
            <button type="submit" class="btn btn-default col-md-1">Buscar</button>
        </p>
    }
</div>
<h1 class="col-md-12"></h1>
<div class=" table-responsive container col-md-12">
    <table class="table col-md-12">
        <thead style="background-color:aliceblue">
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha de registro</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody style="background-color:white">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha_registro)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
</div>