@model IEnumerable<FastLearning.Models.Solicitud>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Lista de solicitudes</h2>
<h1 class="col-md-12"></h1>
<div class="container col-md-12">
    @foreach (var item in Model)
    {
        <div class="card col-md-4 table-bordered" style="width: 36rem; height:auto;background-color:aliceblue">
            <div class="card-body">
                <h5 class="card-title"><b><big>@Html.DisplayFor(modelItem => item.nombre)</big></b></h5>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.descripcion)</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Solicitante: @Html.DisplayFor(modelItem => item.Usuario.nombres) @Html.DisplayFor(modelItem => item.Usuario.apellidos)</li>
                    <li class="list-group-item">Fecha de registro: @Html.DisplayFor(modelItem => item.fecha_registro)</li>
                    <li class="list-group-item">Número de votos: @Html.DisplayFor(modelItem => item.SolicitudUsuario.Count)</li>
                </ul>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Votar
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Votar por solicitud</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ¿Está seguro de votar para esta solicitud?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-default">@Html.ActionLink("Votar", "Index", "Solicitud")</button>
                            </div>
                        </div>
                    </div>
                </div>
                <h1></h1>
            </div>
        </div>
    }
</div>
<h1 class="col-md-12"></h1>