@model IEnumerable<FastLearning.Models.Solicitud>

@{
    ViewBag.Title = "ListarSolicitudPorUsuario";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Mis solicitudes</h2>
<h1 class="col-md-12"></h1>
<p>
    @Html.ActionLink("Crear una solicitud", "Crear")
</p>
<h1 class="col-md-12"></h1>
<div class="container col-md-12">
    @foreach (var item in Model)
    {
        <div class="card col-md-4 table-bordered" style="width: 36rem; height:auto;background-color:aliceblue">
            <div class="card-body">
                <h5 class="card-title"><b><big>@Html.DisplayFor(modelItem => item.nombre)</big></b></h5>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.descripcion)</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Fecha de registro: @Html.DisplayFor(modelItem => item.fecha_registro)</li>
                    <li class="list-group-item">Número de votos: @Html.DisplayFor(modelItem => item.SolicitudUsuario.Count)</li>
                    <li class="list-group-item">Estado: @Html.DisplayFor(modelItem => item.estado)</li>
                </ul>
                <button type="button" class="btn btn-default">@Html.ActionLink("Votantes", "ListarVotantesPorSolicitud", new { id = item.id })</button>
                <button type="button" class="btn btn-default"> @Html.ActionLink("Editar", "Editar", new { id = item.id })</button>
                <button type="button" class="btn btn-default"> @Html.ActionLink("Eliminar", "Eliminar", new { id = item.id })</button>
                <h1></h1>
            </div>
        </div>
    }
</div>
<h1 class="col-md-12"></h1>

