@model IEnumerable<FastLearning.Models.Solicitud>

@{
    ViewBag.Title = "ListarSolicitudPendientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-weight:bold">Solicitudes aprobadas</h2>
<h1 class="col-md-12"></h1>
<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("ListarSolicitudPendientes","Solicitud")'">Solicitudes pendientes</button>
</p>
<div class="container col-md-12">
    @using (Html.BeginForm())
    {
        <p>
            <h4 class="col-md-2">Buscar Solicitudes:</h4>
            <input type="text" class="form-control col-md-3" name="buscar" />
            @*<div class="col-md-3">@Html.TextBox("buscar", "", new { @class = "form-control" })</div>*@
            <button type="submit" class="btn btn-default col-md-1">Buscar</button>
        </p>
    }
</div>
<h1 class="col-md-12"></h1>
<div class="container col-md-12">
    @foreach (var item in Model)
    {
        <div class="card col-md-4 table-bordered" style="width: 36rem; height:32rem;background-color:aliceblue">
            <div class="card-body">
                <h5 class="card-title" style="word-wrap: break-word"><b><big>@Html.DisplayFor(modelItem => item.nombre)</big></b></h5>
                <h6 class="card-subtitle mb-2 text-muted" style="word-wrap: break-word">@Html.DisplayFor(modelItem => item.descripcion)</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Solicitante: @Html.DisplayFor(modelItem => item.Usuario.nombres) @Html.DisplayFor(modelItem => item.Usuario.apellidos)</li>
                    <li class="list-group-item">Fecha de registro: @Html.DisplayFor(modelItem => item.fecha_registro)</li>
                    <li class="list-group-item">Número de votos: @Html.DisplayFor(modelItem => item.SolicitudUsuario.Count)</li>
                </ul>
                <button type="button" class="btn btn-default">@Html.ActionLink("Votantes", "ListarVotantesPorSolicitudAdmin", new { id = item.id })</button>
                @*<button type="button" class="btn btn-default">@Html.ActionLink("Cancelar Aprobación", "CancelarAprobacion", new { id = item.id })</button>*@
            </div>
        </div>
    }
</div>
<h1 class="col-md-12"></h1>