@model IEnumerable<FastLearning.Models.SolicitudUsuario>

@{
    ViewBag.Title = "Lista Votantes";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Lista de usuarios votantes</h2>
<div class="container col-md-12">
    <table class="table col-md-12 table-bordered">
        <thead style="background-color:aliceblue">
            <tr>
                <th>Usuario</th>
                <th>Calificación de alumno</th>
                <th>Comentario</th>
            </tr>
        </thead>
        <tbody style="background-color:white">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.nombres) @Html.DisplayFor(modelItem => item.Usuario.apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.calificacion_alumno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<h1 class="col-md-12"></h1>
<div>
    @Html.ActionLink("Regresar a mis solicitudes", "ListarSolicitudPorUsuario")
</div>
