@model IEnumerable<FastLearning.Models.Solicitud>

@{
    ViewBag.Title = "ListarSolicitudPorUsuario";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2 style="font-weight:bold">Mis solicitudes creadas</h2>
<h1 class="col-md-12"></h1>
<p>
    <button type="button" class="btn btn-default">@Html.ActionLink("Crear nueva solicitud", "Crear")</button>
</p>
<h1 class="col-md-12"></h1>
<p>
    <button type="button" class="btn btn-default">@Html.ActionLink("Mis solicitudes votadas", "ListarSolicitudPorVotacion")</button>
</p>
<h1 class="col-md-12"></h1>
<div class="container col-md-12">
    @foreach (var item in Model)
    {
        <div class="card col-md-4 table-bordered" style="width: 36rem; height:32rem;background-color:aliceblue">
            <div class="card-body">
                <h5 class="card-title" style="word-wrap: break-word"><b><big>@Html.DisplayFor(modelItem => item.nombre)</big></b></h5>
                <h6 class="card-subtitle mb-2 text-muted" style="word-wrap: break-word">@Html.DisplayFor(modelItem => item.descripcion)</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Fecha de registro: @Html.DisplayFor(modelItem => item.fecha_registro)</li>
                    <li class="list-group-item">Número de votos: @Html.DisplayFor(modelItem => item.SolicitudUsuario.Count)</li>                  
                    @{if (item.estado == 1){ViewBag.Estado = "No Revisado";}else{ViewBag.Estado = "Aprobado";}}
                    <li class="list-group-item">Estado: @ViewBag.Estado</li>
                </ul>
                <button type="button" class="btn btn-default">@Html.ActionLink("Votantes", "ListarVotantesPorSolicitud", new { id = item.id })</button>
                <button type="button" class="btn btn-default">@Html.ActionLink("Editar", "Editar", new { id = item.id })</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal_@item.id">
                    Eliminar
                </button>
                <div class="modal fade" id="exampleModal_@item.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Eliminar solicitud</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ¿Está seguro de eliminar esta solicitud?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-default">@Html.ActionLink("Eliminar", "Eliminar", new { id = item.id })</button>
                            </div>
                        </div>
                    </div>
                </div>
                <h1></h1>
            </div>
        </div>
    }
</div>