@model FastLearning.Models.SolicitudUsuario
@{
    ViewBag.Title = "VotarPorSolicitud";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2 style="text-align:center; color:white">Votar por Solicitud</h2>
<h3 style="text-align:center; font-weight:bold" class="text-success">@ViewBag.ErrorSolicitud</h3>
<h1 class="col-md-12"></h1>
<div class="container col-xs-12 col-md-5">
    <div class="card table-bordered" style="width: auto; height:auto;background: rgba(255, 255, 255, 0.80);border-color:darkturquoise">
        <div class="card-body col-md-offset-1" style="padding-left:1rem">
            @using (Html.BeginForm())
            {
                <h1 class="col-md-12"></h1>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label class="control-label col-md-3">Comentario:</label>
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.descripcion, new { @class = "form-control", @rows = "2", @style = "resize:none", @required = "true" })
                            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Votar
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Votar por solicitud</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro de votar por esta solicitud?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary">Votar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index","Solicitud")'">Regresar a solicitudes</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="container col-md-7">
    @Html.Action("PartialListarVotantesPorSolicitud")
</div>
    
