@model FastLearning.Models.Tema

@{
    ViewBag.Title = "CrearPorSolicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="col-md-12"></h1>
<h2 style="font-weight:bold; text-align:center">Crear tema solicitado</h2>
<h1 class="col-md-12"></h1>
<div class="container col-xs-12 col-md-offset-3 col-md-6">
    <div class="card table-bordered" style="width: auto; height:auto;background-color:#EBF5FB">
        <div class="card-body col-md-offset-1" style="padding-left:1rem">
            @using (Html.BeginForm())
            {
                <h1 class="col-md-12"></h1>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)
                    <div class="form-group">
                        <label class="control-label col-md-3">Nombre:</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
                            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Descripción:</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Curso:</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.id_curso, ViewBag.Cursos as SelectList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.id_curso, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Crear
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Crear y aprobar tema solicitado</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro de aprobar y crear este tema solicitado?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary">Crear</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div>
                <button class="btn btn-default" onclick="location.href='@Url.Action("ListarSolicitudPendientes","Solicitud")'">Ir a solicitudes pendientes</button>
            </div>
            <div class="form-group">
                <h1 class="col-md-12"></h1>
            </div>
        </div>
    </div>
</div>


