@model IEnumerable<FastLearning.Models.Tema>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de temas</h2>

<p>
    @Html.ActionLink("Crear tema", "Crear")
</p>
<table class="table">
    <tr>
        <th>
           Nombre
        </th>
        <th>
            Descripción
        </th>
        <th>
            Curso
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Detalles", new { id=item.id })
        </td>
    </tr>
}

</table>
