@model FastLearning.Models.DescuentoUsuario

@{
    ViewBag.Title = "CanjearPuntos";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<h2 style="color:white ; text-align:center">Canjear Puntos</h2>
<h1 class="col-md-12"></h1>

<div class="container col-xs-12  col-md-6">
    <h2 style="color:white">Mis puntos: @ViewBag.Puntos</h2>
    <h1 class="col-md-12"></h1>
    <div class="card table-bordered" style="width: auto; height:auto;background: rgba(255, 255, 255, 0.80);border-color:darkturquoise">
        <div class="card-body col-md-offset-1" style="padding-left:1rem">
            @using (Html.BeginForm())
            {

                <h1 class="col-md-12"></h1>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })                  
                    <div class="form-group">
                        <label class="control-label col-md-3">Descuento:</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.id_descuento, ViewBag.Descuentos as SelectList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.id_descuento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Canjear
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Canjear descuento</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro de canjear este descuento?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                            <button type="submit" value="Canjear" class="btn btn-primary">Canjear</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <h5 class="text-success" style="font-weight:bold">@ViewBag.PuntosInsuficientes</h5>
                        </div>
                    </div>
                </div>
            }
            <div>
                <button class="btn btn-default" onclick="location.href='@Url.Action("Index","DescuentoUsuario")'">Regresar a mis descuentos</button>
            </div>
            <div class="form-group">
                <h1 class="col-md-12"></h1>
            </div>
        </div>
    </div>
</div>
<div class="container col-xs-12  col-md-6">   
    @Html.Action("ListarDescuentosDisponibles")
</div>